:root {
  --white-background: #f0f0f5;
  --white-foreground: #FFF;

  --text: #1d1f24;

  --blue: #4534c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-background);
}

h1, h2, p, a {
  font-family: 'Poppins';
}

body > main {
  padding: 8rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  background-color: var(--white-foreground);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header nav a {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--text);
}

header nav a::after {
  content: '';
  display: flex;
  width: 0;
  height: 4px;
  background: var(--blue);
  transition: width 0.3s ease;
}

header nav a:hover::after {
  width: 100%;
}